body{
    text-align: center;
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    background-color: rgb(247, 205, 166);
    
}

/* .gif {
    text-align: center;
   padding: 15px;
} */
