body{
    text-align: center; 
    background-color: blanchedalmond;
   background-image: url(https://64.media.tumblr.com/tumblr_lsw0ghKs821qeguqw.gif);

    
    
}

h1{
   background-color: rgb(206, 255, 9);
   text-align: center;
   
   /* border-radius: 20px; */
}


